/desa-frontend/db_data/
/desa-backend/.env
/desa-frontend/.env
/desa-frontend/desa-frontend - Copy/
/desa-backend-nginx/.env
/desa-backend-nginx/ssl/
/desa-backend-nginx/nginx/ssl/sansa-bundle.txt
/desa-backend-nginx/nginx/ssl/sansa-certificate.txt
/desa-backend-nginx/nginx/ssl/sansa-private.txt
/desa-backend-nginx/desa-jupyterhub/.env
/desa-backend-nginx/desa-jupyterhub/datacube.conf

/desa-deployment/.env
/desa-deployment/ssl/
/desa-deployment/nginx/ssl/sansa-bundle.txt
/desa-deployment/nginx/ssl/sansa-certificate.txt
/desa-deployment/nginx/ssl/sansa-private.txt
/desa-deployment/desa-jupyterhub/.env
/desa-deployment/desa-jupyterhub/datacube.conf

/desa-deployment/desa-terriamap/node_modules/
/desa-deployment/desa-terriamap/.idea/
/desa-deployment/desa-terriamap/wwwroot/build/
/desa-deployment/desa-terriamap/wwwroot/doc/
/desa-deployment/desa-terriamap/wwwroot/index.html
/desa-deployment/desa-terriamap/npm-debug.log
/desa-deployment/desa-terriamap/version.js
/desa-deployment/desa-terriamap/version.json
/desa-deployment/desa-terriamap/wwwroot/init/nm.json
/desa-deployment/desa-terriamap/datasources/00_National_Data_Sets.json
/desa-deployment/desa-terriamap/.DS_Store
/desa-deployment/desa-terriamap/.localized
/desa-deployment/desa-terriamap/.sass-cache
/desa-deployment/desa-terriamap/terriajs.pid
/terriajs-server.log

/desa-deployment/desa-terriamap//wwwroot/editor/
/desa-deployment/desa-terriamap//error.log
/desa-deployment/desa-terriamap//error.log
/desa-deployment/desa-terriamap//output.log
/desa-deployment/desa-terriamap/privateserverconfig.json
/desa-deployment/desa-terriamap/wwwroot/privateconfig.json
/desa-deployment/desa-terriamap/deploy/packages/
/desa-deployment/desa-terriamap/deploy/work/
/desa-deployment/desa-terriamap/packages/
/desa-deployment/desa-terriamap/pancake/
/desa-deployment/desa-terriamap/yarn-error.log
/desa-deployment/desa-terriamap/.npmrc

/desa-deployment/desa-terriamap/package-lock.json
/desa-deployment/desa-terriamap/.nvmrc

/desa-backend-subdomains/.env
/desa-backend-subdomains/nginx/ssl/
/desa-backend-subdomains/SSL-sansa.org.za-2026-2027/
/desa-backend-subdomains/desa-jupyterhub/.env
/desa-backend-subdomains/desa-jupyterhub/.env.example.env
/desa-backend-subdomains/desa-jupyterhub/.docker.env
/desa-backend-subdomains/desa-jupyterhub/datacube.conf
